@font-face {
  font-family: "Calculator";
  src: url("/resources/fonts/calculator/Calculator.woff") format("woff"),
    url("/resources/fonts/calculator/Calculator.ttf") format("truetype");
}
body {
  display: flex;
  justify-content: center;
}
/* calculadora */
.calculadora {
  width: 420px;
  height: 920px;
  background-color: black;
}
section.superior {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  height: 50%;
}
.menu-superior {
  height: 18%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.menu-superior img {
  width: 40px;
  height: auto;
  background-color: gray;
}
.pantalla {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-family: Calculator;
  font-size: 5em;
  padding-right: 0.2em;
  color: rgba(0, 189, 51, 0.468);
}
section.inferior {
  height: auto;
}
.teclado {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: space-around;
  padding: 7px 0;
}
.teclado img {
  border: 1px solid white;
  width: 75px;
  height: 75px;
}
